{
        "auths": {
                "mydocker.registry": {
                        "auth": "{{ docker_config_auth }}"
                }
        },
        "HttpHeaders": {
                "User-Agent": "Docker-Client/17.09.0-ce (linux)"
        }
}
